*.pyc

*~
#*.csv
#*.CSV
#*.txt
#*.TXT

# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata
*.csv
ESPN_Scraper/tmpfiles/httpscoresespngocomncfboxscoregameId400547838.txt
